<style type="text/css">

div.main {
  position:  absolute;
}
div.caption{
  position:  relative;
  left:      0;
  top:       0;
  font-size: 80%;
  color:  dddddd;
}
div.slice_container {
  position: relative;
  float:    left;
  overflow: hidden;
  border-style:solid; #ridge;
}
img {
  position: absolute;
  left:     0;
  top:      0;
}
#mouse{
  position:  absolute;
  top:  1px;
  right:  6px;
  color:  dddddd;
  font-size:  80%;
}
#click{
  position:  absolute;
  top:     4px;
  right:      6px;
  font-size:  80%;
}
#mark{
  position:  absolute;
  bottom:    0px;
  left:      0px;
  font-size: 80%;
}
a:link {
  color: #0066CC;
  text-decoration:none;
}
a.link {
  font-size: 70%;
}
a:visited {
  color: #9900CC;
  text-decoration:none;
}
a:hover {
  color: #CC00FF;
  text-decoration:none;
}
a:active {
  color: #CC00CC;
  text-decoration:none;
}

</style>
