div.outer {
	background-color: black;
	margin: 1px;
	padding: 0;
	position: relative;
	width: 256px;
	height: 256px;
	overflow: hidden;
	float: left;
	cursor: crosshair;
}

div.outer div.v_line {
	background: red;
	position: absolute;
	top: 0;
	left: 128px;
	width: 1px;
	bottom: 0;
	z-index: 2;
}

div.outer div.h_line {
	background: red;
	position: absolute;
	left: 0;
	top: 128px;
	right: 0;
	height: 1px;
	z-index: 3;
}

div.outer div.box {
	overflow: hidden;
	position: relative;
	z-index: 1;
}

div.outer div.box img.slices {
	position: absolute;
}

